@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100vh;
}

.wrapper {
    background-color: #ccc;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.lanes {
    display: flex;
    justify-content: center;
    padding: .5rem;
    height: 100%;
    gap: 1rem;
}

.lane {
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
    overflow: hidden;
    height: 50%;
    flex-basis: 0;
    flex-grow: 1;
    margin: .25rem;
    background-color: #aaa;
    max-width: 12rem;
}

.header {
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    text-align: center;
    background-color: rgb(39, 38, 38);
}

.tasks {
    flex-grow: 1;
    margin-top: auto;
}

.task {
    background-color: white;
    border-radius: 5px;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
    user-select: none;
}

.task:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    cursor: grab;
}

.take-input {
    width: 100%;
    border: none;
    background-color: rgb(39, 38, 38);
    padding: .4rem;
    color: rgb(194, 194, 194);
}

[data-draggable].hide {
    display: none;
}

[data-draggable].dragging {
    position: absolute;
    opacity: .5;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

[data-draggable] {
    user-select: none;
}